{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}E-Commerce{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body class="bg-gray-700">
    <nav class="border-gray-200 bg-gray-900 h-16">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          
          <img src="{% static 'images/download.png' %}" class="h-8" alt="Flowbite Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">eShop</span>
        </a>
        <div class="flex md:order-2">
          <button
            type="button"
            data-collapse-toggle="navbar-search"
            aria-controls="navbar-search"
            aria-expanded="false"
            class="md:hidden text-gray-500 text-gray-400 hover:bg-gray-100 hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 focus:ring-gray-700 rounded-lg text-sm p-2.5 me-1"
          >
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
            <span class="sr-only">Search</span>
          </button>
          <div class="relative hidden md:block">
            <form method="get" action="{% url 'home' %}" class="flex items-center">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <i class="fa-solid fa-magnifying-glass text-gray-200 z-10"></i>
              </div>
              <div class="relative w-full max-w-xs">
                <input
                  type="text"
                  id="searchInput-desktop"
                  class="block w-72 p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500 hidden md:block"
                  placeholder="Search..."
                  name="q"
                  autocomplete="off"
                  value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}"
                />
                <div
                  id="suggestionsDropdown-desktop"
                  class="absolute z-40 w-full mt-1 bg-white border border-gray-200 rounded shadow hidden"
                ></div>
              </div>
              <a
                href="{% url 'home' %}"
                style="display: {% if request.GET.q %}block{% else %}none{% endif %};"
                class="text-white absolute end-2 top-2 mr-2"
                >X</a
              >
              <button class="hidden" type="submit">Search</button>
            </form>
          </div>
          <button
            data-collapse-toggle="navbar-search"
            type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 text-gray-400 hover:bg-gray-700 focus:ring-gray-600"
            aria-controls="navbar-search"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15"
              />
            </svg>
          </button>
        </div>
        <div
          class="items-center justify-between hidden w-full md:flex md:w-auto md:order-2 z-40 mt-2 md:mt-0 p-2 md:p-0 bg-gray-800 md:bg-transparent rounded-b-lg"
          id="navbar-search"
        >
          <div class="relative mt-3 md:hidden">
            <form method="get" action="{% url 'home' %}">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <i class="fa-solid fa-magnifying-glass text-gray-200 z-10"></i>
              </div>
              <input
                type="text"
                id="searchInput-mobile"
                class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500 md:hidden"
                placeholder="Searchsda..."
                name="q"
                autocomplete="off"
                value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}"
              />
              <div
                id="suggestionsDropdown-mobile"
                class="absolute z-40 w-full mt-1 bg-white border border-gray-200 rounded shadow hidden"
              ></div>
              <a
                href="{% url 'home' %}"
                style="display: {% if request.GET.q %}block{% else %}none{% endif %};"
                class="text-white absolute end-2 top-2 mr-2"
                >X</a
              >
              <button class="hidden" type="submit">Search</button>
            </form>
          </div>
          <ul
            class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 gap-2 md:gap-6 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 border-gray-700 text-white"
          >
            {% if request.user.is_authenticated %}
            <li class="flex items-center gap-2">
              <a href="{% url 'profile' %}" class="block py-2 px-3 rounded-sm md:p-0">
              <i class="fa-solid fa-user text-blue-500"></i><span class="text-blue-500"></span>
            </li>
            <li class="flex items-center gap-2 hover:text-blue-700">
             
              
              <a href="{% url 'logout' %}" class="block py-2 px-3 rounded-sm md:p-0"><i class="fa-solid fa-right-from-bracket"></i></a>
            </li>
            <li class="flex items-center gap-2 hover:text-blue-700">
              <a href="{% url 'cart_detail' %}" class="block py-2 px-3 rounded-sm md:p-0">
                <i class="fa-solid fa-cart-plus"></i>
              </a>
            </li>
            <li class="flex items-center gap-2 hover:text-blue-700">
              <a href="{% url 'orders' %}" class="block py-2 px-3 rounded-sm md:p-0">
              <i class="fa-solid fa-box-open"></i>
              </a>
            </li>
            <li>
               <a href="{% url 'about' %}" class="text-white hover:text-blue-600"> About Us</a>
            </li>
            {% else %}
            <li class="flex items-center gap-2 hover:text-blue-700">
              <i class="fa-solid fa-right-to-bracket"></i>
              <a href="{% url 'login' %}" class="block py-2 px-3 rounded-sm md:p-0">Login</a>
            </li>
            <li class="flex items-center gap-2 hover:text-blue-700">
              <i class="fa-solid fa-user-plus"></i>
              <a href="{% url 'signup' %}" class="block py-2 px-3 rounded-sm md:p-0">Signup</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% if categories %}
    <nav class="bg-gray-700">
      <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center">
          <ul
            class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm overflow-x-auto scrollbar-none scrollbar-thin"
          >
            {% for parent in categories %} {% if not parent.parent %}
            <li>
              <button
                id="dropdownNavbarLink"
                data-dropdown-toggle="dropdownNavbar {{ parent.id }}"
                class="flex items-center justify-between w-full px-3 text-white hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:w-auto text-dark hover:bg-gray-700 focus:text-white md:hover:bg-transparent"
              >
                {{ parent.name }}
                <svg
                  class="w-2.5 h-2.5 ms-2.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 10 6"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 4 4 4-4"
                  />
                </svg>
              </button>
              <!-- Dropdown menu -->
              <div
                id="dropdownNavbar {{ parent.id }}"
                class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600 z-40"
              >
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownLargeButton">
                  {% for sub in parent.subcategories.all %}
                  <li>
                    <a
                      href="?category={{ sub.slug }}"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >{{ sub.name }}</a
                    >
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
            {% endif %} {% endfor %}
          </ul>
        </div>
      </div>
    </nav>

    {% endif %}

    <div class="">{% block content %} {% endblock %}</div>
  </body>

  <script>
    function getVisibleInput() {
      const desktopInput = document.getElementById("searchInput-desktop");
      const mobileInput = document.getElementById("searchInput-mobile");

      const isDesktopVisible = window.getComputedStyle(desktopInput).display !== "none";
      return isDesktopVisible ? desktopInput : mobileInput;
    }

    const input = getVisibleInput();
    const dropdown = document.getElementById(
      input.id.includes("mobile") ? "suggestionsDropdown-mobile" : "suggestionsDropdown-desktop"
    );

    input.addEventListener("input", function () {
      const query = this.value;
      if (query.length < 2) {
        dropdown.classList.add("hidden");
        return;
      }

      fetch(`/product-suggestions/?q=${encodeURIComponent(query)}`)
        .then((res) => res.json())
        .then((data) => {
          dropdown.innerHTML = "";
          if (data.length === 0) {
            dropdown.classList.add("hidden");
            return;
          }

          data.forEach((product) => {
            const div = document.createElement("div");
            div.className = "flex items-center gap-2 p-2 hover:bg-gray-100 cursor-pointer";

            div.innerHTML = `
                <img src="${product.image}" class="w-10 h-10 object-cover rounded" alt="${product.name}" />
                <a href="${product.url}" class="text-gray-800 hover:underline  line-clamp-2">${product.name}</a>
              `;

            dropdown.appendChild(div);
          });

          dropdown.classList.remove("hidden");
        });
    });

    // Optional: hide dropdown on blur
    document.addEventListener("click", (e) => {
      if (!input.contains(e.target) && !dropdown.contains(e.target)) {
        dropdown.classList.add("hidden");
      }
    });
  </script>
</html