{% extends 'base.html' %} {% block content %} {% include 'carousel.html' %}

<div class="max-w-screen-xl px-4 pb-8 mx-auto">
  <h2 class="text-2xl text-white font-semibold my-5">
    {% if request.GET.q and products %} Search results for "{{ request.GET.q }}" {% elif request.GET.category and products %}
    Products in "{{ request.GET.category }}" {% elif not products %} No products found {% else %} All products {% endif %}
  </h2>

  <div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    {% for product in products %}
    <div class="border rounded-xl overflow-hidden shadow-md bg-gray-800 border-gray-700 transition hover:shadow-lg">
      <div class="h-80 overflow-hidden rounded-t-2xl">
        <img class="h-full w-full object-cover" src="{{ product.image.url }}" alt="Product Image" />
      </div>
      <div class="p-4">
        <h5 class="text-lg tracking-tight text-white line-clamp-2 font-medium">{{ product.name }}</h5>
        <div class="flex items-center mt-3 mb-4">
          <a href="{% url 'product_detail' product.id %}" class="underline text-blue-400">View more</a>
        </div>
        <div class="flex items-center justify-between">
          <span class="text-xl font-bold text-white">₹{{ product.price }}</span>
          <a
            href="{% url 'add_to_cart' product.id %}"
            class="text-white focus:ring-4 focus:outline-none font-semibold rounded-lg text-sm px-4 py-2 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
            >Add to cart</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="flex flex-col md:flex-row md:items-center md:justify-between mt-10">
    <span class="text-sm text-gray-300 dark:text-gray-400">
      Showing
      <span class="font-semibold text-white">{{ products.start_index }}</span>
      to
      <span class="font-semibold text-white">{{ products.end_index }}</span>
      of
      <span class="font-semibold text-white">{{ products.paginator.count }}</span>
      Entries
    </span>
    <div class="inline-flex my-5 md:my-0">
      <a
        href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}{% if request.GET.category %}category={{ request.GET.category }}&{% endif %}{% if products.has_previous %}page={{ products.previous_page_number }}{% endif %}"
        class="{% if not products.has_previous %}pointer-events-none{% endif %}"
      >
        <button
          class="flex items-center justify-center px-4 h-9 text-sm font-medium border border-gray-700 rounded-l-lg {% if products.has_previous %} bg-gray-800 text-white {% else %} text-gray-400 bg-gray-700 text-gray-400 cursor-not-allowed {% endif %}"
          {%
          if
          not
          products.has_previous
          %}disabled{%
          endif
          %}
        >
          <svg
            class="w-4 h-4 mr-2 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 5H1m0 0 4 4M1 5l4-4"
            />
          </svg>
          Previous
        </button>
      </a>

      <a
        href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}{% if request.GET.category %}category={{ request.GET.category }}&{% endif %}{% if products.has_next %}page={{ products.next_page_number }}{% endif %}"
        class="{% if not products.has_next %}pointer-events-none{% endif %}"
      >
        <button
          class="flex items-center justify-center px-4 h-9 text-sm font-medium border border-gray-700 rounded-r-lg {% if products.has_next %} bg-gray-800 text-white {% else %} text-gray-400 bg-gray-700 text-gray-400 cursor-not-allowed {% endif %}"
          {%
          if
          not
          products.has_next
          %}disabled{%
          endif
          %}
        >
          Next
          <svg
            class="w-4 h-4 ml-2 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </button>
      </a>
    </div>
  </div>
</div>

{% include 'footer.html' %} {% endblock %}